/* Asterisk wildcard selector to ovveride default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */
header {
    background-color: darkslateBlue;
}

/* Main body */
main { 
    background-color: aliceblue ;
}

/* Footer */
footer {
    background-color: darkslateBlue;
}